.chat-message {
  position: absolute;
  top: 0;
  width: 100%;
  white-space: nowrap;
  animation: chatAnimation linear;

  font-weight: 800;

  font-size: xx-large;
  color: white;
  transform: translateX(100%);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

@keyframes chatAnimation {
  100% {
    transform: translateX(-1000%);
  }
}

body{
    overflow: hidden;
}